body {
  background: blanchedalmond;
}
.a{
  background-color: blueviolet;
  min-width: 100%;
  height: 15%;
}
.b{
  background-color: aquamarine;
  width: 100%;
  height: 70%;
}
.c{
  background-color: black;
  width: 100%;
  height: 15%;
}
.container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100vh;
}
@media(min-width: 600px){
   .b{
     width: 75%;
     height: 85%;
   }
   .c{
     width: 25%;
     height: 85%;
   }
}